.chat_main{
  z-index:1;
  background-color:#abc1d1;
  height:100vh;
}
header.search-bar-off{
  z-index:10;
  width:100%;
  float:left;
  background-color:rgba(171,193,209,0.5);
}

.chat_main .text_line{
  width:100%;
  position:fixed;
  bottom:0;
  background-color:#ffffff;
  height:45px;
  display:flex;
  align-items:center;
}

.text_line input{
  display:inline-block;
  width:90%;
  height:40px;
  padding:0 5px;
  border:#e3e3e3 solid 1px;
  border-radius:15px;
}

.text_line span{
  color:#90949c;
}

.text_line span:first-child{
  font-size:200%;
  margin:0 15px;
}
