nav{
  background-color: #f9f9f9;
  color: #707070;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav a.menu-tap{
  text-decoration: none;
  color:#707070;
}

nav a.menu-tap--selected{
  color: #523e34;
}

.nav_menu{
  display:flex;
  justify-content: space-between;
}
.menu-tap_wrap{
  display:flex;
  justify-content:space-between;
  padding:7px 20px;
}
.menu-tap_wrap{
  flex-direction: column;
  text-align: center;
}
