.bigScreen{
  position:fixed;
  top:0;
  z-index:10; /*중요도*/
  background-color:#FFE500;
  width:100%;
  height:100%;
  color:#523e34;
  display:none;
  font-weight:600;
  font-size:2rem;
  justify-content: center;
  align-items: center;
}
.smallScreen{
  position:fixed;
  top:0;
  z-index:10; /*중요도*/
  background-color:#FFE500;
  width:100%;
  height:100%;
  color:#523e34;
  display:none;
  font-weight:600;
  font-size:2rem;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:550px){
  .bigScreen{
    display:flex;
  }

}

@media screen and (min-height:800px){
  .bigScreen{
    display:flex;
  }

}

@media screen and (max-width:350px){
  .smallScreen{
    display:flex;
  }
  
}

@media screen and (max-height:400px){
  .smallScreen{
    display:flex;
  }


}
.bigScreen2{
  position:fixed;
  top:0;
  z-index:10; /*중요도*/
  background-color:#FFE500;
  width:100%;
  height:100%;
  color:#523e34;
  font-weight:600;
  font-size:2rem;
  justify-content: center;
  align-items: center;
}
.smallScreen2{
  position:fixed;
  top:0;
  z-index:10; /*중요도*/
  background-color:#FFE500;
  width:100%;
  height:100%;
  color:#523e34;

  font-weight:600;
  font-size:2rem;
  justify-content: center;
  align-items: center;
}
